[2017-04-24 16:15] HHK1 opened #2 "Thumbnails regeneration is glitchy when changing asset"
When changing the selected asset, the thumbnails inside the `AssetVideoScrollView` are glitching.
It would be better to generate a single image, and blur it during the transition.

[2017-04-24 16:16] HHK1 opened #3 "Aspect ratio change animation is broken"
When switching rapidly the aspect ratio on the CropView, the animation breaks at some point.

[2017-04-24 16:19] HHK1 opened #4 "Frame selection tool UX needs improvement"
The frame selection tool has two moving components: the thumb view, and the scroll view.
It's hard for people to discover that the scroll view beneath the thumb view is also moving.

Suggested solution:
- Only the scroll view is moving
- The thumb view is positioned in the middle of the view and is not moving
- the scroll view starts with an offset (left part of the screen is empty) so that the fr

[2017-04-24 16:38] HHK1 opened #5 "Update readme with a good description and an example"

[2017-04-25 19:13] #5 closed

[2017-06-25 14:13] HHK1 commented on #2
Used the first image as a placeholder in release 1.0.1.
Still need to apply a transition effect with a blur to smooth the loading.

[2017-07-29 05:14] ram2386 opened #6 "Suggestion : Load the whole video thumbnail without scrolling."
Thanks for sharing the code for trimming the video.

Could we provide the same functionality as in existing Apple's photo trimming tool which loads the video without scrolling?

Please let me know if we can accommodate this changes in the existing code so it will be more useful tool.

[2017-07-31 17:01] HHK1 commented on #6
I think you can achieve this by using the `maxDuration` on the `TrimmerView`.

The maxDuration is the max duration of the asset that will be shown at once, i.e. without scrolling.
If it's smaller than the length of the asset, no scrolling will be necessary.

Make sure to set it before setting the asset, as setting the assets will regenerate all the thumbnails.

[2017-08-16 07:39] HHK1 commented on #6
Does this solve your issue @ram2386 ?

[2017-08-16 12:09] ram2386 commented on #6
Thanks for the reply, I had tried your solution but it does not work for me, so I had used the default controller of UIVideoEditorController which provide the same UI as Apple does for Photos app.

[2017-08-18 04:09] Jkurbs opened #7 "Save Trim video"
Hi, So I do I save the Trim Video (to the photo library)?

Thanks

[2017-08-18 07:36] HHK1 commented on #7
The library only provides the UI component, it's your job then to do the trimming of your video.

You have an example of how to export the video in the example app: https://github.com/prynt/PryntTrimmerView/blob/master/Example/PryntTrimmerView/VideoCropperViewController.swift

To trim the video, you can do something similar, and use the `startTime` and `endTime` properties of your `PryntTrimmerVie

[2017-08-18 13:13] #6 closed

[2017-08-18 13:14] #7 closed

[2017-08-22 09:01] RobSwish opened #8 "Lag when trimming the video in iOS11"
I know it's still in beta, but it is not in beta 7 which is quite far along and the trimmer still lags. Please can you fix this asap?

[2017-08-22 17:15] sparga commented on #8
With the example project, I tested both the Trimmer and the Cropper on an a device and the simulator and the performance is similar to iOS 10.
Could you give more details on how to reproduce?

[2017-09-21 12:58] akashthakkar09 commented on #7
Hello HHK1,

I'm using your library into my project and tried enough to trim the updated frame video but I failed.

Kindly help me in this case with video trim solution with updated trim frames.

Thanks in advance.

[2017-09-21 13:14] HHK1 commented on #7
Hi @akashthakkar09
What do you mean by "trim the updated frame video" ?
Are you trying to **crop** then **trim** the video ?

[2017-09-21 13:39] akashthakkar09 commented on #7
Yes, I'm trimming the video. but after applying the trimming on the video - I want the update start and end time frame video.

[2017-09-21 13:47] HHK1 commented on #7
Once you have trimmed your video for the first time, you should have a url pointing to your new media.
You can create a new `AVAsset` with it, and reload your `PryntTrimmerView` instance with it:
`myTrimmerView.asset = myTrimmedAsset`

Is it what you want to achieve ? Otherwise, please take some time to provide more details about what you want to do precisely.

[2017-09-21 13:51] akashthakkar09 commented on #7
@HHK1 okay to generate the new AVAsset I should need to get the start time and end time of trimming and based on new start and end time - AVAsset object will be generated right?

I am unable to generate that new AVAsset object from the new start and end time.

Kindly give me the code if possible - which can get the updated video after applying trimming on it.

[2017-09-21 14:00] HHK1 commented on #7
As I mentioned above:

If you're having trouble trimming the video, you can consult this stack overflow thread: https://stackoverflow.com/questions/35696188/how-to-trim-a-video-in-swift-for-a-particular-time

You just have to use an `AVAssetExportSession` and set the right timeRange on it.

[2017-10-06 07:59] HHK1 commented on #8
@RobSwish Any update on this ?

[2017-10-14 09:13] ajay2c9 opened #12 "Example is not Working."
Hi,
I want to use the PryntTrimmerView in my app . while running the example it shows error "
Showing Recent Issues
“Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly." After updated tha

[2017-10-14 09:24] HHK1 commented on #12
Hi!
If you’re not running Xcode9, you should not take the latest version. Try running it in version 1.0.1 which is in swift 3.

[2017-10-14 09:31] ajay2c9 commented on #12
Thank you for the reply.

[2017-10-14 09:31] #12 closed

[2017-10-17 06:21] ajay2c9 opened #13 "How to use PryntTrimmerView in Objective-c?"
Hi,
In my project i used both objective-c code and swift code. I already implemented the AVplayer for playing the video in my app.I drag and drop all 8 PryntTrimmerView files in my project.i called the files like below .
@class AssetVideoScrollView;
@class AVAssetTimeSelector;
@class CropMaskView;
@class HandlerView;
@class PryntTrimmerView;
@class ThumbSelectorView;
@class VideoCropView;
@class V

[2017-10-17 11:39] ajay2c9 opened #14 "How to display trimmerView in a SmalllView."
I am using this PryntTrimmerView in my project.My project is in Objective-c . i drag and drop the trimmer files in my project. According to the design i have a small view with height of 56 height i already using the AVplayer to play the videos. how to display the trimmerView in the Small View.and add the delegate methods. I tried ... but i am unable to access delegate methods and the properties to

[2017-10-17 13:59] ajay2c9 opened #15 "How to create a trimmer View in a new UIViewController."
![screen shot 2017-10-17 at 7 07 32 pm](https://user-images.githubusercontent.com/9112899/31668101-eaf3a17e-b36e-11e7-85d1-29b690de4547.png)
![screen shot 2017-10-17 at 7 09 58 pm](https://user-images.githubusercontent.com/9112899/31668115-f35bdebc-b36e-11e7-991b-021a76107354.png)

I want to create a trimmer View in a new view controller. I created a new view controller in the sample project and o

[2017-10-17 15:20] HHK1 commented on #14
I'm closing this issue as this is a duplicate of your other one #15 which is better documented.

[2017-10-17 15:20] #14 closed

[2017-10-17 15:31] HHK1 commented on #15
@ajay2c9 With your screenshots I'm noticing two things that can cause this.

1. There seems to be no outlets on your TrimmerView in the second screenshots. If you right-click on your view in your storyboard, you should see one referencing outlet. If not, make sure to recreate your outlet correctly.

2. In the second screenshot still, in the right pane: You can see that the designable status indica

[2017-10-17 15:38] HHK1 commented on #13
1. Use version 1.0.1 of the project or below as you are running on Xcode 8
2. You can copy the files, but I suggest to use a dependency manager instead. Currently we're supporting only cocoa pods: https://guides.cocoapods.org/using/getting-started.html
3. To mix swift and objective-c please follow this guide: https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaA

[2017-10-18 07:15] ajay2c9 commented on #15
I tried lot of times but same issue is raising. I updated the pod in sample project to 1.0.1 version.  "Build failed" is displaying.  please give suggestion to implement the trimmerView using the xib or dynamically.
Thank you.

[2017-10-18 16:10] HHK1 commented on #15
If the pod is not building, that's not going to work either. Please make sure to follow those steps.

1. Clone the project from fresh again: `git clone git@github.com:prynt/PryntTrimmerView.git`
2. Change the version: "git checkout 1.0.1'
3. Inside the example folder, run `pod install`
4. Change the active scheme to the Pod (not the Example App), and build it.

You should successfully build it at

[2017-10-21 01:03] #8 closed

[2017-10-24 09:57] ajay2c9 commented on #15
Thank you for suggestion. pod is successfully installed and outlets are applied.Frames are displaying in the trimmer View. I am facing a problem here i.e position bar is not moving please give suggestion to move the position bar

[2017-10-24 10:36] HHK1 commented on #15
Please open a new issue if you’re having trouble with a different topic.
If your first issue is resolved, then you can close it.
Also, try to add all the relevant information when creating an issue: What are you trying to achieve, what is happening instead ? The more information you give, the more I’ll be able to help you.

[2017-10-24 10:37] ajay2c9 commented on #15
Ok

[2017-10-24 10:37] #15 closed

[2017-10-24 11:05] ajay2c9 opened #16 "position bar is not moving while video is playing"
Hi,
I am using the PryntTrimmerView in my app my project is in objective-c and i am using Xcode 8.3.3. I am facing a problem position bar . Position bar is not moving. I implemented the code like this.After downloading the video from URL in to local path, i call a method in that

 trimView.handleColor = [UIColor whiteColor];
   trimView.mainColor = [UIColor darkGrayColor];
   trimView.positionBarC

[2017-10-24 11:33] ajay2c9 opened #17 "How to slide the video to a particular position in trimmerView using start and end points"
I have a start and end points of a video. I want to scroll the video in the trimmerView programatically. Is there any possibility scroll that particular position in the trimmer View.
Please give suggestions.

[2017-10-24 13:24] #13 closed

[2017-10-25 02:39] HHK1 commented on #17
**This is currently not implemented**, so you will have to modify the pod directly to do this.

The idea is to convert your time into a position for the trimmer view.
There is a method in the `AVAssetTimeSelector` that does just that:
` getPosition(from time: CMTime) -> CGFloat?`

There is something equivalent that has been implemented for the position bar:
`public func seek(to time: CMTime)`

You

[2018-01-09 13:04] ayon1911 opened #18 "generating thumbnails from asset"
generating thumbnails fails pretty often

[2018-01-09 17:52] HHK1 commented on #18
hi @ayon1911, thanks for the feedback.
Could you provide more informations on what's going on exactly ?
Do you have steps to reproduce ?
Where are your assets located ? Are they local, remote ?

Thank you

[2018-01-09 18:07] ayon1911 commented on #18
Hey tx dor replying back. Well i am recording some video clips and saving into the app document directory with an unique folder name. I access the directory and go through each video to trimm. I am using avplayer item as i have to do the video trimming one after another.

The crash happens really randomly. I have a process of recording certain number of vedios and then trimming, merging and at las

[2018-01-19 23:13] elementsrtyte opened #19 "Adjusting Start/End Handles programmatically"
It would be very helpful to provide some methods on TrimmerView that allows us to pass in a 'start' or 'end' CMTime to TrimmerView that allows us to configure the default starting/ending times of the trimmer.

Something with a signature similar to this would be great...
[code]

Thanks

[2018-01-22 09:52] HHK1 commented on #19
There has been a similar request here #17, so I'm going to close this issue as a duplicate.

As mentioned in the first issue: You should be able to do something similar to the positionBar. I currently don't have the time to work on this. Feel free to open a PR if you decide to implement it.

[2018-01-22 09:52] #19 closed

[2018-04-18 18:32] NikKovIos opened #20 "Crash in regenerateThumbnails(for asset: AVAsset)"
`let visibleThumbnailsCount = Int(ceil(frame.width / thumbnailSize.width))`  line gives a crash

![2018-04-18 21 15 55](https://user-images.githubusercontent.com/16647690/38950312-b61e3dfa-434d-11e8-954f-15c11c22af98.png)

Before this the AVAssetTimeSelector.frame gives (30.0, 88.0, 315.0, 56.0), but assetPreview.frame gives (0.0, 0.0, 0.0, 0.0).
I think the problem is with frames.

[2018-04-18 18:35] HHK1 commented on #20
Do you have more elements please ?
The stack trace, steps to reproduce and an example project could help a lot

[2018-04-18 18:53] NikKovIos commented on #20
I've uploaded this here https://github.com/Yummypets/YPImagePicker/commit/4fea39d9c3688a1ea8e36ae83dcce59a507c3e3d

Just clone repo and move to this commit state.

[2018-04-18 21:04] HHK1 commented on #20
First thing you can do is check the `thumbnailSize.width` and add a guard close to check it's not zero, it will prevent the crash

Now, the real issue is before. The thumbnailSize is based on the video track naturalSize. If the track or its size is not loaded, it will return a size of `.zero`

Are you using remote assets ? If so, are you sure that all the values are correctly loaded ? You can use

[2018-04-19 10:53] NikKovIos opened #21 "Swift 4.1 Cannot override with a stored property '...Constraint'"
[code]

and the same error with

[code]

You can check it in https://github.com/Yummypets/YPImagePicker/commit/4fea39d9c3688a1ea8e36ae83dcce59a507c3e3d

[2018-04-19 10:58] NikKovIos commented on #20
I use assets from the device. Also i checked the same asset in your library's example and it didn't crash. I mean i took the asset URL (file://root/file.mov) and tried in example, then tried in my project.
[code]

Also when i did change in AVAssetTimeSelector

[code]
there is next picture:
![screen shot 2018-04-19 at 13 56 46](https://user-images.githubusercontent.com/16647690/38987773-9f4a8390-43

[2018-04-19 19:39] HHK1 commented on #20
If you start removing constraints, that's not going to help.
In the `getThumbnailFrameSize(from asset: AVAsset)` what's the frame at that point ? If it's zero, then you won't know what the thumbnail size is supposed to be. I can add some safeguards here, but in the end, your constraints are just broken

I've no idea what you are trying to achieve regarding #21 and what you are showing me with your

[2018-04-19 21:02] HHK1 commented on #21
Those are stored properties, private moreover, you are not supposed to override them.

[2018-04-19 21:02] #21 closed

[2018-04-19 21:34] NikKovIos commented on #21
But they are in your library https://github.com/prynt/PryntTrimmerView/blob/master/PryntTrimmerView/Classes/Trimmer/PryntTrimmerView.swift
The compiler warning on them.

[2018-04-19 21:38] NikKovIos commented on #20
The goal of this is to make it work!) Did you look at the example? Do you see, that constraints are well in YPVideoFiltersVC, but the PryntTrimmerView is broken, the getThumbnailFrameSize gives zero?
I just want to make it work.

[2018-04-19 21:46] HHK1 commented on #21
The only thing I'm overriding in this class are the methods to setup the subviews and the constraints:
`setupSubviews` and `constrainAssetPreview`.

Where ? In your project or in this library ?

[2018-04-19 21:56] HHK1 commented on #20
I looked at your code, and I saw that you copied the source files, and commented out the constraints. Which led me to ask you: What are you trying to achieve by removing the constraints or overriding them ?

Your project is big. If you need help to pinpoint the issue, please make a small, minimal example to reproduce the issue, with clean dependencies. A fork of this library is a good start.

Ok,

[2018-04-22 09:11] NikKovIos commented on #20
Here is the project
[TestTrim.zip](https://github.com/prynt/PryntTrimmerView/files/1935369/TestTrim.zip)

[2018-04-22 09:47] NikKovIos commented on #20
When i did paste the asset setting code into dispatch with delay

[code]

Everything start working. It seems, that in viewDidLoad the library is still calculating height value.

[2018-04-23 13:13] #20 closed

[2018-04-23 13:20] s4cha opened #22 "Great tool <3"
Hey @HHK1, great tool you have here !

This is a feature that was requested in our media picker and some users pointed us towards you library.
Just wanted to let you know that we are looking at integrating `PryntTrimmerView` as a dependency as part of our Media Picker tool [YPImagePicker](https://github.com/Yummypets/YPImagePicker).

Begining implementation can be found: [here](https://github.com/

[2018-04-23 17:13] HHK1 commented on #20
Hey, I was not available this weekend, could not reply until now.

When using constraints, it’s indeed not advised to rely on the frame in the viewDidLoad. You have to wait for viewDidLayoutSubviews for the frame to be calculated.

I do not advise to use a dispatch in the view did load, you should do this later in the lifecycle of the view controller instead.

Anyway, I’m glad you found a solution

[2018-04-24 19:28] HHK1 commented on #22
Hey @s4cha !
The code is published with a MIT license, so there is no issue at all with that!

If you feel like referencing this library on your Readme that's up to you, but that's entirely up to you.

I see that you are using Carthage for dependencies, I've never used it in projects, but the setup didn't seem too complex so I've added a prebuilt framework to the latest release: https://github.com

[2018-04-24 20:46] s4cha commented on #22
@HHK1 That's some awesome news!
Of course, once the next version will be live, we'll reference your repo on our Readme :)
Concerning Carthage, you can also upload the `.framework` inside the release as seen here:
https://github.com/Yummypets/YPImagePicker/releases/tag/2.8.1

I was actually about to submit a PR for Carthage support so thanks a ton for thinking a bout us !

Carthage pul still l does

[2018-04-24 20:52] s4cha commented on #22
It looks like `xcshareddata` in the gitignore prevents us from pushing it though :)

[2018-04-24 20:53] HHK1 commented on #22
Hmm, here is what I did:

1. I did check that the scheme for the framework was shared, here is what I have:

<img width="1280" alt="screen shot 2018-04-24 at 13 47 43" src="https://user-images.githubusercontent.com/6484356/39213419-5c655dde-47c6-11e8-8efa-3803f4db7edb.png">

2. I downloaded carthage and used `carthage build --no-skip-current` which gave me the following:

[code]

3. I then ran `ca

[2018-04-24 20:58] s4cha commented on #22
@HHK1 I think the missing thing is just manually uploading the '.framework' in the release on GitHub.

Question, when you shared the `PryntTrimmerView`, did it show in git? If you want Carthage support to work without having to manually upload a `.framework`, we'll need to have the shared scheme setting pushed to GitHub.

Hope that helps,

[2018-04-24 21:01] HHK1 commented on #22
I've uploaded the .framework.zip in the release, does it work for you ?
I'm looking at pushing the schemes changes to git, it seems that indeed they are not taken into account

[2018-04-24 21:04] s4cha commented on #22
Awesome! `carthage update` works because it's smart enough to take the pre-built framework when available. For the "classic" integration, you can run `carthage update --no-use-binaries`. This one will work when we sort the share scheme thing out. No rush I can help you with that later if you want :)

[2018-04-24 21:18] HHK1 commented on #22
@s4cha I think it's because the scheme is part of the Pods project. I'm recreating a target that should be visible to Carthage

[2018-04-25 01:14] HHK1 commented on #22
@s4cha I've updated the project to include a shared scheme that is not in the Pods .xcodeproj
Updating the dependencies on a dummy project using the `--no-use-binaries` flag is working on my end. Tell me if it's good for you, and I'll add the carthage compatibility on the readme, and I'll close this issue.

[2018-04-25 14:57] s4cha commented on #22
@HHK1 it now works perfectly 👌

[2018-04-25 16:41] #22 closed

[2018-04-26 11:33] nitingohel opened #23 "Video quality changed after crop done"
As i testing this lib i did not change anything in exisitng code but i found that video quality change after crop done as there used:
`
 let exportSession = AVAssetExportSession(asset: assetComposition, presetName: AVAssetExportPresetHighestQuality)`

Can you please tel me where do i change to get same quality after crop done.

[2018-04-26 17:08] HHK1 commented on #23
@nitingohel The goal of this library is to provide only the controls to do the trimming and the cropping.
The actual cropping / trimming of your video asset is up to you, the example is only here to provide one possible implementation.

In the example provided, you need to change the `renderSize` to keep the same quality as the original.

[2018-04-26 17:08] #23 closed

[2018-05-06 18:31] alexanderkhitev opened #24 "Is it planned to make canvas? For example, as in the inShot app?"
Hi! Is it planned to make canvas? For example, as in the inShot app?

[2018-05-09 10:18] HHK1 commented on #24
Hi, I don't know this app, could you provide an example of the canvas feature please ?

[2018-05-11 08:27] HHK1 commented on #24
I think get it, you would like to unzoom more on the content, and add borders when needed ? I won't have time to develop this right now, but this could be interesting to have an option in the crop view.
If you feel like doing this, you can fork this project and submit a pull request

[2018-05-14 06:59] NikKovIos commented on #4
It's hard to people to find out that the scroll view can be moved, indeed. Also it happens, when the trimmed part is less than the video duration. In instagramm there is a ruled time line in the bottom of the video. Another solution to add arrows at the right or left when it's available to move the scroll view in these directions.

[2018-05-25 11:16] abid2net opened #26 "Trimming time limited yo 15 seconds"
Currently the library is trimming only for 15 seconds. How can we trim a lengthy video.

[2018-06-06 18:49] prithiviraj opened #27 "How to get the trimmed video from this delegate 'didChangePositionBar'"
Can you please help me how to get the trimmed video from this delegate 'didChangePositionBar'

[2018-06-07 07:57] HHK1 commented on #27
Hi @prithiviraj. `didChangePositionBar` is a delegate method to help you synchronise your video player with the trimmer.
Also, this library does not make the work of trimming the video for you. Please refer to the readme and the example app if you don't know how to do this.

[2018-06-07 07:57] #27 closed

[2018-06-22 18:58] AlexMarshall12 opened #28 "Is there a time limit on the trimmerView video length?"
When I import videos over 15 seconds, it crops to 15 seconds. I don't see this mentioned anywhere. Is this an actual limitation or am I doing something wrong? I just used the Example in this repo with the trimmerView (finding a random video on my phone that is > 15 sec)

[2018-06-25 13:10] HHK1 commented on #28
https://github.com/prynt/PryntTrimmerView/issues/26

[2018-06-25 13:10] #28 closed

[2018-07-20 10:08] Uk44 commented on #17
@ajay2c9 this issue solved or not?...if done then pls share code.

[2018-07-20 18:06] Tulakshana opened #29 "Sample project needs updating"
Thank you very much for the initiative Prynt.

I noticed that the sample project needs updating because it uses some deprecated properties. While you are at it can you also remove the observers when they are no longer needed (probably at deinit). It hurts to see them lying around.

Keep up the good work!

[2018-08-07 13:36] vijay0964 opened #30 "Load asset from URL"
How to load the trimmer view images using URL asset? The thumbnail image size is nil when we pass the asset created with URL?

[2018-08-12 20:26] vicA340 opened #31 "Swift 4 Integration"
Hello,

I am having trouble integrating this library into a swift 4 project.  I used cocoapods to install the library.
 I am getting errors stating that AVMediaTypeVideo has been renamed to AVMediaType.video as well as needing to add @objc to expose some methods to Objective-c.  Is there a way to use this library with swift 4?  Thanks in advance.

[2018-08-17 07:17] RobSwish commented on #30
This is due to the Trimmer setting it's size based on the Frame of the Trimmer view. The only way I could get this to work when using the Trimmer in code (not a Nib or Storyboard) was to hard code the Trimmer height.

[2018-08-24 13:07] somasharma95 opened #32 "Cant see Video Preview in TrimmerView"
Hi,
I have used trimmer view and delegates in my project and successfully trimming my video, the only issue is I cant see video preview in trim view.

Following is my code
      let asset = AVAsset(url: videoURL)
      let firstPlayerItem = AVPlayerItem(asset: asset)
       trimmerView.asset = asset
       trimmerView.delegate = self

I am using both the delegates as well  :--
 func didChangePosit

[2018-08-29 07:47] somasharma95 commented on #24
Do you have any idea on how to do that, I tried scroll view zoom effect but unable to save result after zooming it in canvas, any idea.

[2018-09-13 14:25] jlaws opened #34 "XCode 10 GM and Swift 4.2 fail to build"
[code]

[2018-09-17 10:07] HHK1 commented on #34
@jlaws Can you try #35 and tell me if everything works smoothly ?

[2018-09-18 06:47] HHK1 commented on #34
I've published a pre-release here: https://github.com/HHK1/PryntTrimmerView/releases/tag/3.0.0-beta.1

[2018-09-18 06:47] #34 closed

[2018-09-18 06:49] HHK1 commented on #32
You need to add your own `AVPlayer` to have the video preview. This library only contains the trimmer element, so that it can be inserted in various contexts.
You can check the `VideoTrimmerViewController` class in the example app for a working example.

[2018-09-18 06:49] #32 closed

[2018-09-18 06:52] #16 closed

[2018-09-18 06:56] hirenkapoor opened #36 "this lib available for objective c language ?"

[2018-09-18 07:11] HHK1 commented on #36
@hirenkapoor I haven't tried, but this could work pretty easily. All classes are descendants from `UIView`, so they'll be visible to obj-c. I think you may just need to add @objc on the public protocols of the framework.

[2018-09-25 08:42] s4cha opened #37 "New Pod version for swift 4.2"
Hi @HHK1

We are encountering an issue with Swift 4.2 on our picker. https://github.com/Yummypets/YPImagePicker/issues/224

After some research, it looks like we'd need to have a pod version uploaded for PryntTrimmerView in swift 4.2.

Trying to link the dependency from the tag`3.0.0-beta.1` doesn't work for some reason unfortunately :/

[code]

I think you'd need to push a new version for instanc

[2018-09-25 12:39] HHK1 commented on #37
Yes, I believe that Carthage does not support tags marked as pre-release. Have you tried pointing at the latest commit on master ?
I'll take a look at this hopefully today, otherwise tomorrow

[2018-09-25 19:55] s4cha commented on #37
@HHK1, Carthage works fine actually. The issue is only with Cocoapods.
I don't remember if I tried using commits so I can give it a shot tomorrow in the meantime.
Let me know if I can be of any help on this ;)

[2018-09-25 20:46] NikKovIos commented on #37
The `:branch => 'master'` instead of `:tag` doesn't work as well.
That's because the PryntTrimmerView is by `prynt` in cocoapods : https://cocoapods.org/pods/PryntTrimmerView
And it's not registered there as HHK1, so the cocoapods doesn't see that pod. You need to trunk the pod with HHK1 AFAK.
🙂

[2018-09-25 21:39] billandr commented on #37
@s4cha update the YPImagePicker.podspec to remove the source location; you can't do that.
s.dependency 'PryntTrimmerView', '~> 3.0.0'

[2018-09-26 06:57] HHK1 commented on #37
@NikKovIos Good catch, I recently transferred ownership, but haven't made that change yet

[2018-09-26 07:59] s4cha commented on #37
@billandr Thanks for chiming in, I believe the latest version up is 2.0.1 though https://cocoapods.org/pods/PryntTrimmerView

[2018-09-26 09:04] HHK1 commented on #37
I've published a new tagged version, with the pre-built framework for Carthage. Sadly I can't publish the release on the trunk, I don't have access to my prynt.co email.
I'll see how I can regain access, can you try with the latest tag in the meantime ?

[2018-09-26 11:10] NikKovIos commented on #37
` >    s.dependency 'PryntTrimmerView', :git => 'https://github.com/HHK1/PryntTrimmerView.git', :tag => '3.0.0'` still doesn't work

[2018-09-26 12:19] HHK1 commented on #37
Hmm, pointing to the master branch or the tag inside your Podfile will work if you use directly the pod in your project, but that it is not possible to do this when defining a pod dependency.
See: https://stackoverflow.com/questions/22447062/how-do-i-create-a-cocoapods-podspec-that-has-a-dependency-that-exists-outside-of/22475228#22475228

I've filed a claim to regain ownership of the project, onc

[2018-09-26 14:50] NikKovIos commented on #37
We can cope your lib inside ours. What do you think about it?

[2018-09-26 15:34] HHK1 commented on #37
Yes I agree with @s4cha, it should be resolved very soon, so I don't think it's necessary. Transitioning to new versions of Swift always take some time :)

[2018-09-26 15:36] NikKovIos commented on #37
Ok, i just suggested)

[2018-09-26 15:48] s4cha commented on #37
Sometimes I dream of a world where everybody uses Carthage xD.

[2018-09-26 16:02] billandr commented on #37
exactly - but you can still point the source elsewhere by making sure that you declare the Pod before declaring the pod that has the dependency and it will use the "Name" as a key/value pair and pull down whatever version you want.

[2018-09-27 07:57] NikKovIos commented on #37
Carthage have a one big disadvantage - u can't fastly correct code and debug, like you can with cocoapods.

[2018-09-30 21:56] jlaws commented on #34
@HHK1 can we get this merged into master and have the main pod work for Swift 4.2?

[2018-09-30 21:56] jlaws commented on #37
+1

[2018-10-01 07:34] HHK1 commented on #34
@jlaws Already merged into master, and tagged under 3.0.0.
However I'm waiting to regain access to the trunk to publish it on cocoapods

[2018-10-01 13:34] HHK1 commented on #37
https://cocoapods.org/pods/PryntTrimmerView, version 3.0.0 has been published

[2018-10-01 13:34] HHK1 commented on #37
@s4cha @NikKovIos Once you confirm everything works for you, you can close this issue

[2018-10-01 17:31] s4cha commented on #37
Works on my side 🚀 , Thanks a ton for your help on this @HHK1 🙏

[2018-10-01 17:31] s4cha commented on #37
@jlaws @billandr is that good on your side as well?

[2018-10-01 17:38] billandr commented on #37
it always worked on my end because I had to fork to a private repo anyway for a missing feature that allows the app too provide the initial start / end point.

[2018-10-01 17:40] #37 closed

[2018-10-01 20:35] jlaws commented on #37
Works great, thank you!

[2018-10-11 09:05] sanjukhunt opened #38 "Thumbnails not generated in trimmer view in iOS 11.4.1"

[2018-10-11 09:52] HHK1 commented on #38
Is this related to https://github.com/HHK1/PryntTrimmerView/issues/18 ?
I'll need more information in order to investigate on this.

[2018-10-11 10:06] sanjukhunt commented on #38
May be not.

I am using pod in my swift project. I set TrimerView in storyboard. But when assign asset. trimmer work perfectly but not showing any thumbnails in it.

I am using this code
![img_0917](https://user-images.githubusercontent.com/11293202/46796875-48b7cd00-cd6b-11e8-8415-98a6cb5c8ffc.jpg)

[2018-10-11 10:17] HHK1 commented on #38
Is your asset local or remote ? Does it work with the original example app ?

[2018-10-11 10:20] sanjukhunt commented on #38
It's local. I pick video from camera roll. I didn't check with original example let me check it first.

[2018-10-11 11:50] HHK1 commented on #38
Check this one: https://github.com/HHK1/PryntTrimmerView/issues/30
It may be related to the size of your view not being defined, especially if you are using a storyboard.

[2018-10-11 12:15] sanjukhunt commented on #38
Thank you.

It's solved my problem. i set asset after complete the viewdidload and it's work.

[2018-10-11 12:15] #38 closed

[2018-10-23 05:38] Uk44 opened #39 "Collection <CALayerArray: 0x280fc9140> was mutated while being enumerated."
private func displayImage(_ cgImage: CGImage, at index: Int) {

        if let imageView = contentView.viewWithTag(index) as? UIImageView {
            let uiimage = UIImage(cgImage: cgImage, scale: 1.0, orientation: UIImageOrientation.up)
            imageView.image = uiimage
              }
    }

app crash on contentView.viewWithtag(index) give nill value

[2018-10-23 06:14] #39 closed

[2018-10-23 09:42] DGP13 opened #40 "Trim video issue."
I'm trim video using this PryntTrimmerView lib. I have set min 15 second & max 60 second but save video total duration is 52 second.

[2018-10-24 05:15] DGP13 commented on #40
This is export trim video code....

do {
            let asset = AVURLAsset(url: asset_url)
            let trimmedAsset = try asset
                .assetByTrimming(startTime: trimmerView.startTime ?? kCMTimeZero,
                                 endTime: trimmerView.endTime ?? url_AVURLAsset.duration)

            // Looks like file:///private/var/mobile/Containers/Data/Application
            /

[2019-02-27 05:43] jraoatlogic opened #43 "Open up parent classes so that they can be extended outside this project"
Hi,

I'd like to extend or use AVAssetTimeSelector and AssetVideoScrollView outside this project, basically use them to write something similar to TrimmerView. Right now I couldn't do this because the classes are not open, and some properties are internal (such as assetPreview).

Thanks

[2019-03-01 15:44] HHK1 commented on #43
Hi,

I'm not sure about exposing the internals of the implementation inside the interface. What about forking this repo and creating your customised version of the TrimmerView ?
How much difference is there between what you're looking to make and the existing TrimmerView ?

[2019-03-04 04:32] jraoatlogic commented on #43
Hi,

That's alright, I already implemented it by copying the files into my own project and renaming them, so it's not a hindrance, just want to see if there're better ways to do it, if opening the class is not an option it's fine to close this issue. I'm implementing a video timeline/scrubber, similar to the timeline in Apple's Photo app's video playback UI.

Thanks

[2019-03-04 09:09] HHK1 commented on #43
If you feel like this could be a nice addition to this Pod, feel free to open a PullRequest. Would be nice indeed to have a different UI option for this.

[2019-03-11 13:19] #43 closed

[2019-03-26 16:57] jlaws opened #44 "Swift 5 Support w/ Cocoapods"
## Expected Results

No warning to convert PryntTrimmerView.framework to Swift 5

## Actual Results

Xcode created warnings to convert PryntTrimmerView.framework to Swift 5

## Steps to Reproduce

Build the cocoapod in Xcode 10.2

[2019-04-04 17:15] HHK1 commented on #44
Fixed in #45, can you check it out and report any issues please ?

[2019-04-08 09:31] SatbirTanda opened #46 "Cropping Video Only Saves 0:00 Video"
@HHK1 In the example app: when you crop a video it only saves one frame at a video length of 0:00?  Shouldn't it crop all frames in the video and save it?

[2019-04-08 17:00] HHK1 commented on #44
Version 4.0.0 now supports Swift 5

[2019-04-08 17:00] #44 closed

[2019-04-12 11:12] HHK1 commented on #46
@SatbirTanda did you find what was going on ?

[2019-04-12 11:21] SatbirTanda commented on #46
I wrote a custom method that applies the crop to every frame

[2019-04-12 11:26] HHK1 commented on #46
Hmm, I've checked the example, there is this line:

`let frame1Time = CMTime(seconds: 0.2, preferredTimescale: asset.duration.timescale)`

The default behaviour should be to crop the whole video, I've probably pushed this while I was testing things. I'll take a look at it, and clean the example app a bit. Thanks for pointing that out !

[2019-04-15 02:11] jlaws commented on #44
Thanks, works great

[2019-04-23 23:47] pushpsenairekar2911 opened #47 "Not able to find version for swift 5.0"
Kindly, provide me the link from where I can download the version for swift 5.0.

[2019-04-24 00:02] sparga commented on #47
Here is the release link: https://github.com/HHK1/PryntTrimmerView/releases/tag/4.0.0

Swift 5 support has been merged in the master branch.

[2019-05-02 20:39] CosmicVarion opened #48 "Visible white TrimmerView corners"
The TrimmerView corners are square whereas the start/end handle corners are rounded. So, with a non-white background and non-white handles, points of white are visible from the underlying bar at the corners of the handles.

[2019-05-03 12:10] #47 closed

[2019-05-30 17:41] jbmoss84 commented on #30
Could one of you two explain a bit more how you got this to work? Thumbnails fail to generate every single time for me regardless of whether I use interface builder or programmatically.

[2019-06-25 13:48] yunustek commented on #30
The code worked for me:
`
override func viewDidLoad() {
       super.viewDidLoad()
       DispatchQueue.main.asyncAfter(deadline: .now() + 0.01) {
		self.trimmerView.delegate = self
		self.trimmerView.asset = asset
		self.addVideoPlayer(with: asset, playerView: self.playerView)
        }
}
`

[2019-07-27 09:58] blurtime commented on #48
Here my small workaround:
    let trimmerView: TrimmerView = {
        let trimmer = TrimmerView()

        trimmer.layer.cornerRadius = 3 //2 should actually suffice but there was still a tiny bit visible so I set it to 3
        trimmer.layer.masksToBounds = true

        return trimmer
    }()

[2019-07-31 12:58] tallot13 opened #52 "Minimum trim video issue"
from PryntTrimmerView.swift
/// The minimum duration allowed for the trimming. The handles won't pan further if the minimum duration is attained.
`    public var minDuration: Double = 3
`
I trim to the minimum possible, but in `didChangePositionBar` from `TrimmerViewDelegate`

[code]
Output:

I have a strict check on the length of the video and its minimum 3 seconds, but with such a duration the c

[2019-09-18 13:13] alanpridestar commented on #46
Hi HHK1,

Was wondering if there have been any updates to this. I haven't been able to create my own method to fix this.

Thanks, Alan

[2019-09-27 12:44] testingflexsin opened #53 "Need last frame exactly issue during trim"
Hi, I am trimming the video from your code. So i am facing issue i.e. need exactly frame issue with end time. So i need same frame with trimmer end time but they are not giving the exact frame. Can you please help me out.
Seeking for your positive response.

[2020-01-23 13:27] miaoyuxuan opened #57 "swift version"
in last xcode version  5.1.2   app will  cut down

[2020-02-06 16:20] lbaomyscoopapp opened #58 "Can't set max duration"
I tried to set max duration with 60 seconds. But i can trim video > max length. Min duration not correct also when try trim long video.

[code]

[2020-02-11 13:25] arun-macrew commented on #58
@lbaomyscoopapp I'm getting same issue.

[2020-02-14 18:49] lbaomyscoopapp commented on #58
@arun-macrew Have you fixed it.

[2020-02-17 12:33] HHK1 commented on #48
Solved, thanks @blurtime for your PR !

[2020-02-17 12:33] #48 closed

[2020-02-19 13:05] #58 closed

[2020-02-21 09:09] HHK1 commented on #57
@miaoyuxuan Do you have more infos on this ?

[2020-03-11 18:46] CosmicVarion commented on #17
I would suggest making the `TrimmerView` class open so that functionality like this may be added in a custom subclass.

[2020-03-17 16:52] alfredolucomav opened #61 "Could not calculate the thumbnail size."
Hello There,

I'm trying to load thumbnails from my video into trim view. But I have the following error: Could not calculate the thumbnail size.

This is my video's location: file:///private/var/mobile/Containers/Data/PluginKitPlugin/D7ABED4E-C54A-4948-B7D3-5587AE62358D/tmp/trim.CCA9A520-F11E-4BA6-A3A8-B15AA9E05CAC.MOV

![IMG_9415](https://user-images.githubusercontent.com/37881543/76880439-6ccbe

[2020-03-25 18:22] alfredolucomav commented on #61
Can anybody help me?

[2020-03-27 07:28] phamhongnham commented on #61
Can you change video to the m4v format.

[2020-03-27 17:01] alfredolucomav commented on #61
hi @phamhongnham ,

Do u know what's the current format?

Best Regards

[2020-03-31 18:27] jaredmoskowitz commented on #61
I had the same problem. You may be setting your trimmerView.asset before the frame is created for the trimmerView. If you want the thumbnail images to show up on the parent view controller when the parent view controller is presented then call `trimmerView.asset = asset` in `override func viewDidAppear(_ animated: Bool)`

[2020-04-01 18:37] alfredolucomav commented on #61
@jaredmoskowitz Thanks a lot! It works like a charm!

[2020-06-02 18:19] Haibo-Zhou opened #62 "Module compile error"
I get this error on latest Xcode 11.4.1 when using YPImagePicker, is there SWP available now?

Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2.2 compiler: /Users/Chuck/Downloads/YPImagePicker-master/Carthage/Build/iOS/PryntTrimmerView.framework/Modules/PryntTrimmerView.swiftmodule/x86_64.swiftmodule

[2020-06-03 07:00] HHK1 commented on #62
This is an issue with the Carthage build ? You need a new version compiled with Swift 5.2.2 ?

[2020-06-24 07:07] mahesh-dhapa commented on #61
I facing same issue.
First i tried to load video from bundle and created Asset from bundle URL.

`guard let bundlePath = Bundle.main.path(forResource: "Full_Video_Sample", ofType:"mp4"), let url = URL(string: bundlePath) else {
            print("Can not find Full_Video_Samplem4v")
            return
        }
currentAsset = AVAsset(url: url)

 trimmerView?.asset = currentAsset
        trimmerView

[2020-07-14 18:03] #36 closed

[2020-07-14 18:07] HHK1 commented on #62
Added SPM support, does that solve your issue ?

[2020-07-14 20:12] aiartsev opened #63 "Can't Install App"
After integrating this framework using Carthage and trying to run on a device, I get the following message:

Unable to install "AppName"
Domain: com.apple.dt.MobileDeviceErrorDomain
Code: -402653103
--
Could not inspect the application package.
Domain: com.apple.dt.MobileDeviceErrorDomain
Code: -402653103
User Info: {
    DVTRadarComponentKey = 282703;
    MobileDeviceErrorCode = "(0xE8000051)";

[2020-07-14 22:11] HHK1 commented on #63
Yup, sorry about that, I'm not familiar with Carthage and must have broken the pre-built binary in the latest release.
I'll look at it in the morning, in the meantime, can you target the previous version ?

[2020-07-14 22:30] aiartsev commented on #63
Yup, no worries man! Let me know when it's okay to update

[2020-08-01 07:57] omarojo opened #64 "Thumbnails are Black"
Hi and thank you for building this library. AVFoundation is soo hard.

So I have a VideoComposition that has 5 videos stitched together one after the other.
And then played in a AVPlayer, when I export into a .mp4 file all videos get stiched together well (no black frames).
In other words... Im not playing a .mp4 file but a AVComposition. Im assigning a AVAsset that is generated from a composition

[2020-08-04 21:54] omarojo commented on #64
I think I figure it out.
I had to modify your library to accept having custom ImageGenerator.

[2020-08-27 08:45] Monkey-X-Byte commented on #64
I also found this problem, and even with these two properties, the scrolling thumbnails overlapped

[2020-09-16 09:17] touyu opened #67 "Failed to install with Carthage"
[code]

When I add this library with Carthage from the master branch, I get the following error when launching the app.

<img width="424" alt="スクリーンショット 2020-09-16 17 54 29" src="https://user-images.githubusercontent.com/12294921/93317251-35131c00-f848-11ea-8fa8-2d393823c3b9.png">

I suppose I should add Info.plist to the framework project (not for example project), what do you think?

For example

[2020-09-17 09:54] nastasiupta opened #69 "Xcode 12 compatibility"
Current pod version 4.0.0
Xcode version: 12.0 beta 6 (12A8189n)
The issue at build time:
file: ThumbSelectorView.swift
line: 141
error: Cannot convert value of type 'CMTime' to type 'NSValue' in coercion

![Screenshot 2020-09-17 at 12 53 26](https://user-images.githubusercontent.com/13376064/93455304-da7bcd80-f8e4-11ea-8b14-c3355f498ebc.png)

[2020-09-18 07:24] #57 closed

[2020-09-18 07:24] #62 closed

[2020-09-18 07:25] HHK1 commented on #69
Fixed in 4.0.2

[2020-09-18 07:25] #69 closed

[2020-09-18 07:35] HHK1 commented on #67
Thanks for your PR, appreciate it. Can you confirm your issue is solved ?

[2020-09-18 07:38] HHK1 commented on #64
Hi @omarojo, do you have a repo with an example ? If you have a fix you can open a PR, contributions are welcome !

[2020-09-18 07:49] petrykDima opened #71 "Xcode 12 issues"
After update Xcode 12 there was problems with PryntTrimmer. It was updated to 4.0.2, but now I have new issue =(
Could you please check it.

<img width="271" alt="Screenshot 2020-09-18 at 10 45 40" src="https://user-images.githubusercontent.com/43542141/93570993-803e4380-f99c-11ea-8b4a-ccfa3855d981.png">

[2020-09-18 08:36] #71 closed

[2020-09-19 06:19] touyu commented on #67
Thank you for merging the PR. I close this issue.

[2020-09-19 06:19] #67 closed

[2020-09-22 15:31] parulgarg004 commented on #71
@petrykDima I'm facing the same issue, can you please confirm how you fixed it?

[2020-09-23 17:05] HHK1 commented on #71
YPImagePicker needs to update their pod, this is not related to this library.
@s4cha @NikKovIos Do you have what you need from me ?

[2020-09-25 12:30] NikKovIos commented on #71
@HHK1 No, thanks. Bug related to this is https://github.com/Yummypets/YPImagePicker/issues/569.

[2020-10-15 14:03] 08031992 opened #72 "initialization method -init cannot be sent to an abstract object of class AVAsset: Create a concrete instance!"
I have create a@IBOutlet  var selectThumbView: ThumbSelectorView! and navigate on view_controller using push navigation controller application crashes
reason is initialization method -init cannot be sent to an abstract object of class AVAsset: Create a concrete instance!

[2020-10-18 02:46] coder123-star opened #73 "How to trim the asset"
I have implemented this into my project, I am wondering how I can get the trimmed video. Is there a function or code that I need to add?

[2020-10-19 12:25] HHK1 commented on #73
Trimming of the assets is not provided by the library. The goal of this package is to give you UI controls, the implementation of actual trimming/cropping is up to you.

You can take a look at this thread for an example: https://stackoverflow.com/questions/35696188/how-to-trim-a-video-in-swift-for-a-particular-time

Or https://github.com/HHK1/PryntTrimmerView/blob/master/PryntTrimmerViewExample/Vi

[2020-10-19 12:25] #73 closed

[2020-10-20 08:37] HHK1 commented on #72
I need more context to understand your issue, could you provide a code example please ?

[2020-11-16 09:43] Shivani-Bajaj commented on #61
Thanks @jaredmoskowitz . It worked 👍

[2020-11-20 12:10] cuhte3 opened #74 "Using ThumbSelectorView in SwiftUI"
Thanks for the great library! Am trying to use ThumbSelectorView in SwiftUI with UIViewRepresentable, but got the "could not calculate thumb size error". Looking for the past issues am assume i need to set ThumbSelectorView asset into viewDidAppear when the view rect is calculated, however there is no the kind of option is UIViewRepresentable lifecycle. Any advice how to use the ThumbSelectorView

[2020-12-07 08:30] HHK1 commented on #74
I don't have time right now to test it, but if you find a solution I think it would be great to add an example into the Readme.

[2021-01-11 06:43] cp-satish-v opened #75 "Need support to set currently selected time rang"
set previously timed range on re-trim

[2021-01-25 00:14] cclaflin89 opened #76 "Feature Request: preselect time range"
I'm using this trimmer view in editing time range. But it seems I can not set start and end time. `startTime` and `endTime` variables are read-only at the moment.

Would be helpful if you add this feature. Thank you.

[2021-02-25 09:06] SilverWei commented on #74
Try nesting a `ThumbSelectorView` inside a `UIView`.
[code]

[2021-03-17 09:51] jeongbalmount opened #77 "Question about right handle when it's not moved"
When the right handle is still and only the left handle is moved, the video is not played again but stops.
Is there any way to fix this?

[2021-03-17 09:57] HHK1 commented on #77
Could you expand a bit please ? When you move a handle, the asset shows the image associated with the current position of the handle (to help you get a precise position for trimming), and playback should resume once you lift your finger up.

[2021-03-17 10:14] jeongbalmount commented on #77
I know what you're talking about. What I want to say is that video does not repeat when the right handle is located at the end of the trimmer.
![Mar-17-2021 19-07-56](https://user-images.githubusercontent.com/52123195/111450864-286a7480-8754-11eb-9634-8367b82b031b.gif)

Not all videos are like this, but only a few videos seem to have this problem.
And if right handle moves at least once and go bac

[2021-03-17 10:19] HHK1 commented on #77
Got it, thanks for the video, makes it clearer.
I currently don't have time to investigate this, but feel free to open a PR and I'll review it 🙏

[2021-03-17 10:53] jeongbalmount commented on #77
Thanks! 👍

[2021-03-25 14:57] cosmicvarion opened #78 "Resolution/Fidelity"
Is there an easy way to check the smallest increment/decrement to time a user can make with the handles?

[2021-03-26 07:40] NikKovIos commented on #75
@cp-satish-v explain more detailed what do you offer please.

[2021-03-26 07:40] #74 closed

[2021-03-26 07:41] NikKovIos commented on #72
Closed due to inactivity. Fill free to reopen.

[2021-03-26 07:41] #72 closed

[2021-03-26 07:43] NikKovIos commented on #63
@HHK1 In order the SPM is strongly recommended by apple, what if we deprecate carthage and focus on SPM and cocoapods only?

[2021-03-26 07:43] #61 closed

[2021-03-26 07:52] #18 closed

[2021-03-26 08:08] cp-satish-v commented on #75
suppose i have video slip of 10 seconds, and i selected range of 5 to 10 seconds and save it to use later.
now i decided to update range, for that i need to display previously selected range. i think, currently that thing is not possible.

[2021-03-26 10:25] fukemy opened #79 "No such module 'PryntTrimmerView'"
hi, i got this problem, can u help?
![Ảnh chụp Màn hình 2021-03-26 lúc 17 24 24](https://user-images.githubusercontent.com/8202437/112617926-2beab380-8e58-11eb-9dad-78fb9951fd66.png)

[2021-03-26 14:23] NikKovIos commented on #78
@HHK1 you should now

[2021-03-26 14:24] NikKovIos commented on #75
@cp-satish-v
https://github.com/HHK1/PryntTrimmerView/issues/76 is it the same you want?

[2021-03-27 03:59] cp-satish-v commented on #75
Yes

[2021-03-27 07:39] #75 closed

[2021-03-30 10:14] HHK1 commented on #78
It's currently not implemented, but since the AVAssetTimeSelector is mapping the asset Time to the ui element width, you could easily get it if you modify a bit that class.

currently you have:

[code]

So I guess that you could expose a method using that for the "smallest position increment" (i.e. 1 pixel or 1 point) and you'll get the corresponding minimal increment;

[2021-04-07 13:00] jeongbalmount commented on #77
I'm currently looking for a bug, and I want to know the part that is responsible for repeating the video.
Please help...

[2021-04-12 08:31] georgef-ios opened #80 "Frames issue"
Hi! When I display the asset inside the trimmerView, on the simulator all frames appear. But when I try working on a real device, only the first frame appears
I am using: xCode 12.4, iOS 14.4.2

[2021-04-25 19:43] xaphod commented on #77
PR that fixes this: https://github.com/HHK1/PryntTrimmerView/pull/81/files

[2021-05-10 09:53] calsmith commented on #21
+1 importing the raw source files into a project (i.e. without cocoapods) causes the following build errors:
`"Cannot override with a stored property 'widthConstraint'" AssetVideoScrollView.swift line 12
`for each of the constraints in Swift 5 Xcode 12.5. Is there a workaround for this?

[2021-05-10 12:46] jeongbalmount commented on #77
Sorry for the late reply! I changed the code and tested it, but it stops the same 😢  . And also same result in
PryntTrimmerViewExample.
 I added observer to the part where I put AVasset in the AVplayer and added itemDidFinishPlaying to check if the player was stopped, did I applied wrong?

[2021-05-10 12:51] xaphod commented on #77
Hi @jeongbalmount if you are talking about the fix in my PR, since it has been merged you can just pull the newest code from this repo. You should not need to manually change code

[2021-05-11 12:20] xaphod commented on #77
I am not familiar with swift packages so i dont know

On Tue, May 11, 2021 at 8:17 AM jeongbalmount ***@***.***>
wrote:

--
Tim Carr
Founder, *Solodigitalis*
M: 289-237-1935
W: solodigitalis.com
A: 270 Sherman Ave N, Hamilton, ON L8L 6N4

[2021-05-12 11:36] jeongbalmount commented on #77
I was really stupid! I declared a new Notification name 😅 (AVPlayerItemDidPlayToEndTime)
Thanks @xaphod!!

[2021-05-13 02:26] #77 closed

[2021-08-16 18:35] arqambutt commented on #46
Replace this line:
 let frame1Time = CMTime(seconds: 0.2, preferredTimescale: asset.duration.timescale)

let frame1Time = CMTime(value: asset.duration.value, timescale: asset.duration.timescale)

[2021-09-21 16:23] SonnyMore opened #83 "[Warning, Xcode 13, SPM] Invalid Exclude files"
New warnings appear after building project in Xcode 13 using SPM for installation.

[code]

I guess it can be removed from the exclude section in Package.swift?

[2021-11-16 16:19] rastaman111 opened #85 "Audio crop"
Hey!  Is this solution suitable for cutting audio files?

[2022-08-28 18:49] romaHerman opened #89 "Render Size question [question]"
Hi!

Thanks for the awesome tool

I was reading a code related to the video cropping.
There is one thing I can't wrap my head around

[code]

Could you please explain why we need to multiple aspectRatio by 16 and 18 ?

Thanks!

[2022-10-24 11:28] HHK1 commented on #89
Hi @romaHerman

For the first question, the interesting part is the multiplication by 16. 18 here is not important, you could potentially put whatever you want. The reason is that encoding videos with width and height that are not a multiple of 16 (or 8 or 4) can lead to some issues (white or green streaks in the video some rows or column for example).
More on that here:
- https://studio.support.b

[2022-10-24 11:33] HHK1 commented on #89
For the renderScale you need to map the portion of the video you want to crop into your final video size. So there is a transform applied in the video composition that just does that, and the ratio here is used in the transform.

[2022-11-16 13:07] AmyGupta opened #90 "Trimmer not work first time"
when I'll play video trimmer will not work until I manually slide the trimer after that it work properly.

[2022-11-21 06:58] AmyGupta commented on #53
Hi, I'm facing same problem have you find something.